
<div class="detailBoxContainer">
	<div ng-controller="detailBoxController" ng-show="showDetailBox">
		
			<div class="panel panel-default">
				<div class="panel-heading">Task Details</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<blockquote>
								<span ng-bind-html="taskDetails.description | autolinker ">
									<!-- {{ taskDetails.description | autolinker }} -->
								<footer><span>{{ taskDetails.owner.name }}</span></footer>
							</blockquote>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-xs-12 col-sm-12">
								<h4>{{ taskDetails.status }}</h4>
						</div>
						<div class="col-md-6 col-xs-12 col-sm-12">
							<button class="btn btn-danger" ng-click="delete()">Delete</button>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<form class="form-inline">
								  	<div class="form-group">
								    	<label for="exampleInputName2">Share it with</label>
								    		<select ng-model="sharee" ng-options="user.username for user in users" class="search-query form-control input large" name="sharee">
								    		
								    	</select>
								 	 </div>
							  		<button type="submit" class="btn btn-default" ng-click="shareit()">Share</button>
								</form>
						</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-xs-12">
							<ul class="list-group">
								<li class="list-group-item">
									<form class="form-inline">
									  	<div class="form-group">
									    	<label class="hide" for="exampleInputName2">Name</label>
									    	<input type="text" id="commentBox" ng-model="newComment" class="search-query form-control input large" placeholder="Comment" name="comment"></input>
									 	 </div>
								  		<button type="submit" class="btn btn-default" ng-click="addComment()">Comment</button>
									</form>
								</li>
								<div ng-repeat="comment in taskDetails.comments">
									<li class="list-group-item">
										
										<b>{{comment.createdBy.name | titleCase }}</b> :
										{{ comment.description }}
										<div class="text-right"><small>{{ comment.createdAt}}<small></div>

									</li>		
								</div>
								
							</ul>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
