<style>
	.searchList li{
		padding:10px;
		padding-bottom:2px;
	}
	.searchList li:hover{
		color: blue;
		cursor:pointer;
	}
</style>
<div class="row">
		<div ng-controller="searchBoxController" class="col-md-12 col-sm-12 col-xs-12">
			<input id="searchBox" class="search-query form-control input large" ng-change="search.search()" ng-model="search.query" placeholder="Search..">
			<ul class="list-unstyled searchList" >
				<li ng-repeat="result in search.results" ng-click="result.onclick()" ng-bind-html="result.description" ></li>
			</ul>
		</div>
	</div>

<div id="detailBox" class="detailBoxContainer">
	<div ng-controller="detailBoxController">
	
	

	<div  ng-show="showDetailBox">
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<div ng-show="showWaiter" style="float:left;"><waiter></waiter></div>Task Details</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<blockquote>
								<span ng-bind-html="taskDetails.description | autolinker "></span>
								
								
								<footer><span ng-bind="taskDetails.owner.name"></span></footer>
							</blockquote>
						</div>
					</div>
					<div class="row">
						
						<div class="col-md-12 col-xs-12 col-sm-12">
								<h5<span ng-bind="taskDetails.status"></h5>
						</div>
						
						<div class="col-md-12 col-xs-12 col-sm-12">
								<h5>Start Date : <span ng-bind="taskDetails.startDate"></h5>
						</div>
						<div ng-show="taskDetails.completedAt" class="col-md-12 col-xs-12 col-sm-12">
								<h5>Completed On : <span ng-bind="taskDetails.completedAt"></h5>
						</div>
						<div class="col-md-12 col-xs-12 col-sm-12">
							<button ng-click="delete()">Delete</button>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<form class="form-inline">
								  	<div class="form-group">
								    	<label for="exampleInputName2">Share it with</label>
								    		<select ng-model="sharee" ng-options="user.username for user in users" class="search-query form-control input large" name="sharee">
								    		
								    	</select>
								 	 </div>
							  		<button type="submit" class="btn btn-default" ng-click="shareit()">Share</button>
								</form>
						</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-xs-12">
							<ul class="list-group">
								<li class="list-group-item">
									<form class="form-inline">
										<div class="form-group">
								    		<input type="text" id="checkpointBox" ng-model="checkpointBox" class="form-control" placeholder="Add Subtask" name="checkpoint"></input>
										</div>
										<div class="form-group">
											<button type="button" class="btn btn-default" class="form-control" ng-click="addCheckpoint()">Add</button>											
										</div>
									
										<div class="form-group" style="padding-top:1px">
											<a class="btn btn-primary" role="button" class="form-control" data-toggle="collapse" href="#checkpointList">Subtasks</span></a>
										</div>
									</form>
								</li>
								<div id="checkpointList">
									<div ng-show="taskDetails.checkpoints" ng-repeat="checkpoint in taskDetails.checkpoints">
										<li class="list-group-item">										
											 <input ng-change="checkpoint.changeCheckpointStatus()" type="checkbox" ng-model="checkpoint.status">
											<span ng-bind-html="checkpoint.description | autolinker"></span>
										</li>		
									</div>
								</div>
								<li class="list-group-item">
									<form class="form-inline">
									  	<div class="form-group">									 
									    	<input type="text" class="form-control" id="commentBox" ng-model="newComment" class="search-query form-control input large" placeholder="Comment" name="comment"></input>
									 	</div>
								 	 	<div class="form-group">
								  			<button type="submit" class="form-control" class="btn btn-default" ng-click="addComment()">Add</button>
							  			</div>
							  			<div class="form-group">
								  			<a class="btn btn-primary" class="form-control" role="button" data-toggle="collapse" href="#commentsList" aria-expanded="false" aria-controls="collapseExample">Comment</a>
										</div>
									</form>
								</li>
								<div id="commentsList">
									<div ng-repeat="comment in taskDetails.comments">
										<li class="list-group-item">										
											<b><span ng-bind="comment.createdBy.name | titleCase"></span></b> :
											<span ng-bind-html="comment.description | autolinker"></span>
											<div class="text-right"><small><span ng-bind="comment.createdAt"></span><small></div>
										</li>		
									</div>
								</div>
							</ul>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>