script(src='public/js/moment.js')
script(src='public/js/Controllers/registrationController.js')
script(src='public/js/loginController.js')
script(src="public/node_modules/autolinker/dist/Autolinker.min.js")
script(src='public/js/Controllers/mainController.js')
script(src='public/js/Services/Task.js')
script(src='public/js/Services/Comment.js')
script(src='public/js/Services/User.js')
script(src='public/js/Services/Share.js')
script(src='public/js/Services/Checkpoint.js')
script(src='public/js/Templates/TaskController.js')
script(src='public/js/Controllers/DetailBoxController.js')
script(src='public/js/Controllers/TaskController.js')
script(src='public/js/Filters/CamelCase.js')
script(src='public/js/Filters/autoLinker.js')
script(src='public/js/Directives/Task.js')
script(src='public/js/Directives/Comment.js')
script(src='public/js/Directives/ScheduleCreator.js')
script(src='public/js/Directives/waitingScroll.js')






