
	<div class="row">
		<div class="col-md-8">	
			<div ng-show="showErrorBox">
				<div class="alert alert-danger">
					<strong>Error!</strong> <span ng-bind="errorMessage"> errorMessage
					<div class="btn pull-right" ng-click="closeErrorAlertBox()"><span class="glyphicon glyphicon-remove-sign"></div>
				</div>
			</div>
			<form class="form-inline">
				<div class="form-group">
					<label class="sr-only" for="username">Username</label>
					<input type="text" name="username" class="form-control" placeholder="username" ng-model="loginFormData.username"/>	
				</div>
				<div class="form-group">
					<label for="password" class="sr-only">Password</label>	
					<input type="password" class="form-control" placeholder="password" name="password" ng-model="loginFormData.password"/>
				</div>
				<button class="btn btn-default" type="submit" ng-click="loginFormSubmit()">SignIn</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12 col-sm-8">
			<div ng-include="registrationFormURL"></div>
		</div>
	</div>