<style>
	.row{
		margin-bottom: 5px;
	}
	#desc{
		width : 100%;
	}	
</style>
<form id="newTaskForm">
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<div class="form-group">
				<label class="sr-only" for="desc">Description</label>
				<div>
					<input type="text" id="desc" class="search-query form-control input large" placeholder="Description" name="desc" ng-model="newTaskForm.description"></input>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-6">
			<div class="form-group">
				<select class="form-control" required name="schedule" ng-model="newTaskForm.selectedSchedule" ng-options="option.label for option in newTaskForm.scheduleOptions" ng-change="newTaskForm.selectedOptionChanged()">
				</select>
			</div>
		</div>
		<div class="col-md-6 col-xs-6">
			<div class="form-group">
				<button type="submit" ng-click="newTaskForm.submit()" class="btn btn-success btn-block">Create Task</button>
			</div>
		</div>
	</div>
</form>

<schedulecreator></schedulecreator>