<div class="row">
	<div class="col-md-12 col-xs-12">
		<div ng-show="newTaskForm.showComplexScheduleCreator">
				<div>
					<div ng-repeat="param in newTaskForm.complexScheduleParams">
						<form class="form-inline">
							<div class="form-group">
								<div>
									<label class ="sr-only" for="{{param.name}}"> {{ param.name }} </label>
								</div>
								<div>
									<select name="on"  class="form-control" ng-model="param.frequency">
										<option value="on">On</option>
										<option value="every">Every</option>
									</select>
									<input type="text" class="form-control" id="param.name" placeholder="{{param.name}}" ng-model="param.values"></input>
								</div>		
							</div>					
						</form>
					</div>
				</div>			
			</div>
		</div>
	<div class="col-md-6 col-xs-6">

	</div>
</div>

			<!-- <div>				
				<select name="on" ng-model="scheduleForm.dayOfWeek.frequency">
					<option value="on"  ng-selected="true">On</option>
					<option value="every">Every</option>
				</select>
				<input type="text" ng-model="scheduleForm.dayOfWeek.values"></input>
				<span>Day of Week</span>	
			</div>
			<div>
				<select name="on" ng-model="scheduleForm.dayOfMonth.frequency">
					<option value="on" ng-selected="true">On</option>
					<option value="every">Every</option>
				</select>
				<input type="text" ng-model="scheduleForm.dayOfMonth.values">
				</input>
				<span>Day of Month</span>
			</div>
			<div>
				<select name="on" ng-model="scheduleForm.weekOfMonth.frequency">
					<option value="on" ng-selected="true">On</option>
					<option value="every">Every</option>
				</select>
				<input type="text" ng-model="scheduleForm.weeksOfMonth.values">
				</input>
				<span>Week Of Month</span>
			</div>
			<div>
				<select name="on" ng-model="scheduleForm.month.frequency">
					<option value="on" ng-selected="true">On</option>
					<option value="every">Every</option>
				</select>
				<input type="text" ng-model="scheduleForm.month.values">
				</input>
				<span>Month</span>
			</div>
			<div>
				<select name="on" ng-model="scheduleForm.year.frequency">
					<option value="on" ng-selected="true">On</option>
					<option value="every">Every</option>
				</select>
				<input type="text" ng-model="scheduleForm.year.values">
				</input>
				<span>Year</span>
			</div> -->