<style>
#date{
	text-align: center;
}
.strike{
	text-decoration: line-through;
}
.centered{
	text-align: center;
}

</style>
<div class="row">
	<div class="col-md-5 col-xs-12">
		<div> 
			<input id="date" type="date" class="form-control col-md-3 col-xs-12" ng-model="date.val" ng-change="updateView()"></input>
		</div>
	</div>
	<div class="col-md-4 col-xs-12 centered">
			<button class="btn btn-primary" ng-click="date.previous()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>	
			<button class="btn btn-primary" ng-click="date.today()"><span>Today</span></button>
			<button class="btn btn-primary" ng-click="date.next()"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
	</div>
	<div class="col-md-3 col-xs-12">
		<form class="form-inline">
		 	<div class="checkbox">
			    <label>
			     	 <input ng-model="filters.showActive" type="checkbox"> Active
			    </label>
		  	</div>
		  	<div class="checkbox">
			    <label>
			     	 <input ng-model="filters.showCompleted" type="checkbox"> Completed
			    </label>
		  	</div>
	
		</form>
	</div>	
</div>

<div class="row">
	<div class="col-md-12 col-xs-12">
		<div ng-show="tasks.length > 0">
			<ol class="list-group">
				<div ng-repeat="task in tasks">
					<task></task>
				</div>
			</ol>
		</div>
		<div ng-show="tasks.length == 0">
			<br>
			<br>
			<center>Congratulations! You have completed tasks scheduled for today!</center>
		</div>
	</div>
</div>
