<div ng-controller="userGroupsController">
    <div class="row">
        <div class="col-md-12">
            <h3> {{formName}}
        </div>
        <div class="col-md-6">
                <div class="createNewGroup">
                    <p>
                        <input type="text" ng-model="GroupName"></input>
                        <input type="submit" ng-click="submitNewGroup()"/>
                    </p>
                </div>
            <p>
                <div class="list-group">
                    
                        <button ng-repeat="userGroup in userGroups" type="button" ng-click="userGroup.groupClick()" class="list-group-item">{{ userGroup.name }}</button>
                    
                </div>
            </p>
        </div>
        <div class="col-md-6">
           <list-box datasource="datasource" > 
           </dlb>
        </div>
    </div>
</div>